<app-navbar></app-navbar>

<main class="duvida-container">

  <section class="main-content">

    @if (post) {

    <div class="question">

      <!-- VOTAÇÃO DA DÚVIDA -->
      <div class="vote-area">

        <button type="button" class="vote-button" (click)="votar(1)">
          △
        </button>

        <span class="vote-count">
          {{post.upVotes - post.downVotes}}
        </span>

        <button type="button" class="vote-button" (click)="votar(-1)">
          ▽
        </button>

      </div>

      <div class="question-content">

        <h2>{{ post.title }}</h2>

        <div class="tags">

          @for (tag of post.tags; track tag.id) {
          <span class="tag">
            {{ tag.name }}
          </span>
          }

        </div>

        <p class="descricao">
          {{ post.content }}
        </p>

        <!-- RESPOSTAS -->
        <section class="respostas">

          <h3>Respostas</h3>

          @if (respostas.length > 0) {

          @for (resposta of respostas; track resposta.id) {
          @if(editResposta.id == resposta.id){
          <div class="responder-area">

            <h3>Editar resposta</h3>

            <label for="resposta">
              Sua resposta
            </label>

            <textarea id="resposta" [(ngModel)]="editResposta.content" rows="5">
            </textarea>

            <button type="button" (click)="editarResposta(resposta.id)">
              Salvar Alterações
            </button>

          </div>
          }@else{
          <article class="resposta">

            <!-- VOTAÇÃO DA RESPOSTA -->

            <div class="vote-area">

              <button type="button" class="vote-button" (click)="votarResposta(resposta, 1)">
                △
              </button>

              <span class="vote-count">
                {{resposta.upVotes - resposta.downVotes}}
              </span>

              <button type="button" class="vote-button" (click)="votarResposta(resposta, -1)">
                ▽
              </button>

            </div>

            <div class="resposta-content">

              <strong>Resposta:</strong>

              <p>
                {{ resposta.content }}
              </p>

            </div>

          </article>
          }

          }

          } @else {

          <p>Nenhuma resposta ainda.</p>

          }

        </section>

        <!-- RESPONDER -->
        <div class="responder-area">

          <h3>Responder dúvida</h3>

          <label for="resposta">
            Sua resposta
          </label>

          <textarea id="resposta" [(ngModel)]="novaResposta" placeholder="Escreva sua resposta..." rows="5">
            </textarea>

          <button type="button" (click)="responder()">
            Responder
          </button>

        </div>

      </div>

    </div>

    } @else {

    <p>Carregando dúvida...</p>

    }

  </section>
  <aside class="relacionadas">

    <h3>Relacionadas:</h3>

    @for (duvida of relacionadas; track duvida.id) {
    @if (duvida.id != post?.id) {
    <div class="relacionada">

      <span class="related-votes">
        {{ duvida.upVotes - duvida.downVotes }}
      </span>

      <span class="related-title" (click)="visualizarRelacionada(duvida.id)">
        {{ duvida.title }}
      </span>

    </div>

    }
    }

  </aside>
</main>