<app-navbar></app-navbar>

<div class="home-container">
  <section class="home-actions">
    <div class="filters">

      <p class="recent-title">Mais Recentes:</p>

      <input
        type="text"
        [(ngModel)]="termoBusca"
        (input)="aplicarFiltros()"
        placeholder="Buscar dúvidas..."
        class="search-input">

      <p class="filter-title">Filtradas por interesses:</p>

      <div class="filter-options">

        @for (tag of getTagsDisponiveis(); track tag) {

          <label>
            <input
              type="checkbox"
              (change)="alterarFiltroTag(tag, $event)">

            {{ tag }}
          </label>

        }

      </div>

    </div>

    <button
      type="button"
      class="question-button"
      (click)="fazerPergunta()">
      Fazer Pergunta
    </button>
  </section>
  @for (duvida of duvidasFiltradas; track duvida.id) {

    <article
      class="duvida-card"
      (click)="visualizarDuvida(duvida.id)">

      <div class="stats">

        <div class="stat">
          <strong>{{ duvida.upVotes - duvida.downVotes }}</strong>
          <span>Votos</span>
        </div>

      </div>

      <div class="duvida-content">

        <h2>{{ duvida.title }}</h2>

        <div class="tags">

          @for (tag of duvida.tags; track tag.id) {
            <span class="tag">
              {{ tag.name }}
            </span>
          }

        </div>

      </div>

    </article>

  }
</div>